<h2>Login for access to HamLogbook</h2>
<a href="/">Home</a> | <a href="#">Log In</a>
<br><br>
<% if @error %>
<i><%= @error %></i>
<% end %>
<br>

<h3><form method="post" action="/login">
    <p><label for="username">Username: </label>
    <input type="text" name="username"></p>
    <p><label for="password">Password: </label>
    <input type="password" name="password"></p>
    <input type="submit" value="Log In">
</form></h3>