<div class="container">
  	<header><img src="../../images/radiostationsketch.jpg" class="img-responsive main-image"></header>
  	<div class="col-md-8 col-md-offset-2">
		<h2>Login for access to HamLogbook</h2>
		<% if !is_logged_in? %>
          	<a href="/">Home</a> | <a href="/signup">Sign Up </a>
			<br><br>
			<% if @error %>
				<i><%= @error %></i>
			<% end %>
			<br>

			<h3>
			<form method="post" action="/login">
    			<p><label for="username">Username: </label>
    			<input type="text" name="username"></p>
    			<p><label for="password">Password: </label>
    			<input type="password" name="password"></p>
    			<input type="submit" value="Log In">
			</form>
			</h3>
    	<% else %>
      		<a href="/">Home</a> | <a href="/logout">Log Out </a>
     		<br><br>
      		<i>You are already signed in</i>
    	<% end %>
		</div>
</div>