<h2>Signup for access to HamLogbook</h2>
<a href="/">Home</a> | <a href="/login">Log In</a>
<br><br>
<%if @error%><i><%= @error %><% end %></i>

<h3><form method="post" action="/signup">
    <p><label for="name">Name: </label>
    <input type ="text" name="name"></p>
    <p><label for="username">Username: </label>
    <input type="text" name="username"></p>
    <p><label for="password">Password: </label>
    <input type="password" name="password"></p>
    <p><label for="email">Email: </label><input type="text" name="email" placeholder="for password recovery"></p>
    <input type="submit" value="Sign Up">
</form></h3>