<h2>Add a callsign</h2>
<a href="/">Home</a> | <a href="/logout">Log Out</a>
<br><br>
<% if @error %><%= @error %><% end %>
<h3><form method="post" action="/callsigns">
    <p><label for="callsign">Callsign: </label>
    <input type ="text" name="callsign[call]">&emsp;
    <input type="checkbox" name="callsign[active]">&ensp;Active</p>
    <p><label for="gridsquare">Grid Square: </label>
    <input type="text" name="callsign[gridsquare]"></p>
    <p>  </p>
    <input type="submit" value="Add Callsign">
</form></h3>