<div class="container">
    <header><img src="../../images/radiostationsketch.jpg" class="img-responsive main-image"></header>
    <div class="col-md-8 col-md-offset-2">
        
        <% if is_logged_in?%>
            <h2>These are the current registered users</h2>
            <a href="/">Home</a> | <a href="/logout">Log Out</a><br><br>
            <% User.all.each do |user| %>
                <%= user.username %>&emsp;
            <% end %>
        <% else %>
            <h2></h2>
            <a href="/login">Log In</a> | <a href="/signup">Sign Up</a><br><br>
            <i>You must be logged in to view this page</i>
        <% end %>
    </div>
</div>

